@model Book[]

@{
    ViewData["Title"] = "Результаты поиска";
}

<h1>Результаты поиска</h1>

@if (Model.Length == 0)
{
    <p>Ничего не найдено</p>
}
else
{
    <ul>
    @foreach (Book book in Model)
    {
        <li><a href="@Url.Action(action: "Index", controller: "BookDetails", values: new {id = book.Id})">@book.Title</a></li>
    }
    </ul>
}